body,
#root,
.container {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  /* border: 2px solid black; */
  height: 800px;
  width: 800px;
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.row {
  /* border-bottom: 1px solid black; */
  display: flex;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.boxContainer {
  border: 1px solid black;
  cursor: pointer;
  width: 20%;
  margin: 10px;
  font-size: 12px;
}

.contentContainer,
.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.addSneakerButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.sneakerInfo {
  margin: 10px;
}

.sneakerFormContainer {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: white;
  z-index: 100;
}

.sneakerForm {
  cursor: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  background-color: black;
  padding: 20px;
  width: 300px;
  height: 400px;
}

.sneakerFormTitle {
  margin: 0 0 20px 0;
  padding-bottom: 5px;
  font-size: 28px;
  border-bottom: 5px solid white;
}

.sneakerFormLabel {
  text-align: center;
  font-size: 16px;
}

.sneakerForm p {
  width: 100%;
}

.sneakerForm p input {
  padding: 5px;
  box-sizing: border-box;
}

.formInputContainer,
.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(122, 191, 247);
}

.closeButton {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  right: 5px;
}

.backButton {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: 5px;
}

.closeButton:hover,
.backButton:hover {
  cursor: pointer;
  color: rgb(122, 191, 247);
}

.buttonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.deleteButton:hover {
  background-color: red;
}
